# This is a YAML-formatted file.

image: registry.slurm.io/s054040/k8s_dev_cert_project
imageTag: master.1
imagePullSecret: gitlab-registry-pull

env:
  DATABASE_URL: redis
  DATABASE_PASSWORD: ""
  DATABASE_PORT: 6379

service:
  port: 80

ingress:
  host: flask.s054040.edu.slurm.io

redis:
  master:
    persistence:
      existingClaim: redis-pvc
  replica:
    replicaCount: 0 